@import '../../css/colors';

a {
  color: $hao-white;
  text-decoration: none;
}

.header {
  background-color: $hao-blue-grey-900;
  color: $hao-white;
  display: flex;
  height: 64px;
  justify-content: space-between;
}

.header-logo {
  align-items: center;
  display: flex;
  height: 100%;
  margin-left: 24px;
  margin-right: 24px;

  &__title {
    font-size: 24px;
    font-weight: bold;
    margin-left: 4px;
  }

  img {
    height: 32px;
  }
}

.header-tabs {
  display: flex;
  width: 100%;

  .MuiTab {
    &-root {
      min-width: 120px;
    }

    &-wrapper {
      font-size: 14px;
      font-weight: bolder;
    }
  }

  .MuiTabs {
    &-fixed {
      display: flex;
      height: 100%;
    }

    &-indicator {
      background-color: $hao-yellow-700;
    }
  }
}
