@import '../../css/colors';

.footer {
  align-items: center;
  background-color: $hao-grey-400;
  bottom: 0;
  display: flex;
  font-size: 12px;
  height: 24px;
  justify-content: space-between;
  padding: 8px 16px;

  &__left {
    color: $hao-grey-600;
  }

  &__right {
    color: $hao-grey-800;
  }
}